* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

table#visualBoard {
    border: 1px solid #575757;
    background-color: #575757;

    td {
        background-color: #eee;
        width: 50px;
        height: 50px;

        * {
            text-align: center;
        }
        
    }
}

td.revealed {
    background-color: #fff !important;
}

.flagged {
    background-
}