* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

table#visualBoard {
    border: 1px solid #111111;
    background-color: #111111;

    td {
        background-color: #dfcd9d;
        width: 50px;
        height: 50px;

        * {
            text-align: center;
        }

        &.revealed {
            background-color: #fff !important;
        }

        &.bombed {
            background-color: #741a1a !important;
        }
    }
}

.flagged {
    /* WIP */
}